<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
</head>
<body>
    <% unless session[:user].present? %>
    <% end %>
    <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>

    
    <ul>
        <% @categories.each do |category| %>
        <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
        <% end%>
    </ul>
    
    <% if @category_name.present? %>
        <h2><%= @category_name %></h2>
    <% end %>
    
     <!-- ここでカテゴリー出す -->
    
    <ul>
        <% @contents.each do |content| %>
        <li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= content.url %>" frameborder="0" allowfullscreen></iframe>
            <p><%= content.title %></p>
            <p><%= content.body %></p>
            <p><%= content.category.name %></p>
        </li>
        <% end %>
    </ul>
</body>
</html>
