
    <% if session[:user].present? %>
        <a href="/user/account">アカウントページ</a>
    <% else %>
        <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
    <% end %>
    
    <h1>カテゴリ一覧</h1>
    
<ul>
    <% @categories.each do |category| %>
        <li><a href="/category/<%= category %>"><%= category %></a></li>
     <% end %>
</ul>
     <!-- ここでカテゴリー出す -->
    <h1>動画一覧</h1>
    <ul>
        <% @contents.each do |content| %>
        <li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= content.url %>" frameborder="0" allowfullscreen></iframe>
            <p><%= content.title %></p>
            <p><%= content.body %></p>
            <p><%= content.category %></p>
        </li>
        <% end %>
    </ul>
